# Dependencies
node_modules/

# Hardhat
artifacts/
cache/
typechain-types/

# Environment & secrets
.env
.env.*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
coverage.json

# Misc
*.log
